.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.imageContainer {
  width: 100px;
  height: 100px;
}

.login-box {
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
  min-width: 330px;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.textFieldContainer {
 margin: 5px;
}
#standard-basic {
  width: 300px;

}
.buttonContainer {
  margin-top: 50px;
}
.loginButton {
  width: 300px;
}
.alertHolder {
  width: 100%;
  position: absolute;
}


.gelatine:hover {
  animation: gelatine 0.5s infinite;
  background-color: pink;
  border-radius: 5px;
}

.gelatine {
  animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

